apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: order-events-pubsub
spec:
  type: pubsub.aws.snssqs
  version: v1
  metadata:
    - name: region
      value: "${aws_region}"
    - name: consumerID
      value: "${subscriber_queue_name}"
    - name: fifo
      value: "true"
    - name: fifoMessageGroupID
      value: "order-events"
    - name: concurrencyMode
      value: "single"
    - name: messageReceiveLimit
      value: "5"
    - name: sqsDeadLettersQueueName
      value: "${dlq_name}"
    - name: disableEntityManagement
      value: "true"
